* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
}

:root {
  --background: #050b12;
  --black: #000000;
  --blue: #6421ff;
  --gradient: linear-gradient(90deg, #fa1660, #ff6e00);
  --primary-color: #090b13;
  --purple: #7b00d6;
  --secondary-color: #cacaca;
  --text-input-field: #f9f9f9;
}

html {
  font-family: 'Sen', sans-serif;
}

body {
  background-color: var(--primary-color);
}

.hero {
  background-color: var(--background);
  background-image: url('../img/hero-sm.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  position: relative;
  text-align: center;
}

.hero__content {
  color: var(--text-input-field);
  min-height: 70vh;
  padding-top: 46vw;
  padding: 45vw 5vw 20vw;
  width: 100vw;
}

.hero__image {
  display: block;
  margin-bottom: 3vw;
  margin: auto;
  max-width: 160px;
  padding-bottom: 12px;
  width: 100%;
}

.hero__title {
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 16px;
}

.hero__button-container {
  margin-bottom: 20px;
  width: 100%;
}

.hero__button {
  background: var(--purple);
  border-radius: 4px;
  color: var(--text-input-field);
  cursor: pointer;
  font-size: 15px;
  height: 50px;
  letter-spacing: 1px;
  line-height: 15px;
  margin-top: 1px;
  max-width: 540px;
  text-transform: uppercase;
  width: 100%;
}

.hero__link {
  color: var(--text-input-field);
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 26px;
  margin: 0 0 24px;
}

.hint {
  -webkit-animation: bounce 1.75s infinite;
  animation: bounce 1.75s infinite;
  background-color: transparent;
  border: none;
  bottom: 2vw;
  cursor: pointer;
  fill: #f9f9f9;
  font-size: 0;
  height: 48px;
  left: 50%;
  margin: 0 auto;
  opacity: .65;
  padding: 6px;
  pointer-events: none;
  position: absolute;
  top: 92%;
  transform: translate(-50%, -50%);
  width: 48px;
}

.plans {
  background-color: var(--background);
  padding: 10vw 5vw;
  
}

.plans__title {
  color: var(--text-input-field);
  font-size: 26px;
  letter-spacing: normal;
  line-height: 36px;
  margin-bottom: 24px;
  margin-top: 0;
  text-align: center;
}

.plan__title {
  color: var(--secondary-color);
  font-size: 15px;
  line-height: 25px;
}

.plans__options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 -12px;
  padding-left: 0;
}

.plan {
  align-items: center;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-between;
  list-style: none;
  margin-top: 0;
  max-width: 380px;
  padding-bottom: 40px;
  padding: 60px 40px 0;
  text-align: center;
  width: 100%;
}

.plan--combo {
  background-image: url('../img/promo.png');
  margin-bottom: 40px;
}

.plan--monthly, .plan--annually {
  margin: 40px 0;
}

.plan--monthly {
  background-image: url('../img/month-year.png');
}

.plan--annually {
  background-image: url('../img/month-year.png');
}

.plan__description {
  color: var(--secondary-color);
  font-size: 15px;
  line-height: 25px;
  margin: 0 0 24px;
  text-align: center;
}

.plan__price {
  color: var(--text-input-field);
  font-size: 22px;
  line-height: 32px;
  margin-top: 24px;
}

.plan__button {
  align-items: center;
  border-radius: 4px;
  color: var(--text-input-field);
  cursor: pointer;
  display: inline-flex;
  font-size: 15px;
  font-weight: 400;
  height: 50px;
  justify-content: center;
  letter-spacing: 1px;
  line-height: 15px;
  margin-bottom: 0;
  max-width: 320px;
  padding: 11.5px 24px;
  text-transform: uppercase;
  width: 100%;
}

.button--combo {
  background: var(--blue);
}

.button--star {
  background: var(--gradient);
}

.plans__footnote {
  color: var(--secondary-color);
  font-size: 11px;
  font-weight: 400;
  letter-spacing: .2px;
  line-height: 21px;
  margin: 0 0 24px;
  text-align: center;
}

.footer {
  color: var(--secondary-color);
  padding: 26px 8px;
  text-align: center;
}

.footer__logo {
  height: 25px;
  display: block;
  margin: 4px auto 15px;
  width: 80px;
}

.footer__link {
  color: var(--secondary-color);
}
