/* Hero Component */

.hero {
  background-image: url('../img/hero-sm.jpg');
}

.hero__title {
  font-size: 22px;
}

.hero__button-container {
  height: 50px;
  font-size: 15px;
  line-height: 15px;
}

.hero__link {
  font-size: 14px;
}

/* Plans Component */

.plans__options {
  display: grid;
}

/* Accordion Component */

.accordion {
  padding: 5.6vw;
}
