.navbar__hero {
  height: 70px;
  padding: 0 12px 0 20px;
}

.header__sign-in {
  font-size: 15px;
  text-transform: uppercase;
}

.navbar__content {
  height: 70px;
}

.header__suscribe,
.post__sign-in {
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* Hero Component */

.hero {
  background-image: url('../img/hero-sm.jpg');
}

.hero__title {
  font-size: 22px;
}

.hero__button-container {
  height: 50px;
  font-size: 15px;
  line-height: 15px;
}

.hero__link {
  font-size: 14px;
}

/* Plans Component */

.plans__options {
  display: grid;
}

/* Accordion Component */

.accordion {
  padding: 5.6vw;
}
