.hero {
  background-image: url('../img/hero-sm.jpg');
}

.hero__title {
  font-size: 22px;
}

.hero__button-container {
  font-size: 15px;
  line-height: 15px;
  height: 50px;
}

.hero__link {
  font-size: 14px;
}

.plans__options {
  display: grid;
}
