@import '../../styles/mixins';
@import '../../styles/main.scss';

.plans {
  background-color: $background;
  padding: 10vw 5vw;

  @include desktop {
    padding-top: 0;
  }

  &__title {
    font-size: 26px;
    letter-spacing: normal;
    line-height: 36px;
    margin-bottom: 24px;
    margin-top: 0;
    text-align: center;

    @include desktop {
      font-size: 44px;
      line-height: 54px;
      margin-bottom: 30px;
    }
  }

  &__options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 -12px;
    padding-left: 0;

    @include tablet {
      display: grid;
    }

    @include desktop {
      display: flex;
      flex-wrap: nowrap;
    }
  }

  &__footnote {
    color: $secondary-color;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 21px;
    margin: 0 0 24px;
    text-align: center;
  }
}

.plan {
  width: 100%;
  height: auto;
  align-items: center;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  margin-top: 0;
  max-width: 380px;
  padding: 60px 40px 0;
  padding-bottom: 40px;
  text-align: center;

  &__title {
    color: $secondary-color;
    font-size: 15px;
    line-height: 25px;

    @include desktop {
      font-size: 18px;
      line-height: 28px;
    }
  }

  &__description {
    color: $secondary-color;
    font-size: 15px;
    line-height: 25px;
    margin: 0 0 24px;
    text-align: center;

    @include desktop {
      font-size: 18px;
      line-height: 28px;
      margin: 0 0 28px;
    }
  }

  &__price {
    font-size: 22px;
    line-height: 32px;
    margin-top: 24px;

    @include desktop {
      font-size: 28px;
      line-height: 38px;
    }
  }

  &__button {
    width: 100%;
    height: 50px;
    align-items: center;
    border-radius: 4px;
    color: $text-primary-color;
    cursor: pointer;
    display: inline-flex;
    font-size: 15px;
    font-weight: 400;
    justify-content: center;
    letter-spacing: 1px;
    line-height: 15px;
    margin-bottom: 0;
    max-width: 320px;
    padding: 11.5px 24px;
    text-transform: uppercase;
  }

  &--combo {
    background-image: url('../img/plans/promo.png');
    margin-bottom: 40px;
  }

  &--monthly,
  &--annually {
    margin: 40px 0;

    @include desktop {
      margin-top: 0;
    }
  }

  &--monthly {
    background-image: url('../img/plans/month-year.png');
  }

  &--annually {
    background-image: url('../img/plans/month-year.png');
  }
}

.button--combo {
  background: $blue;
}

.button--star {
  background: $gradient;
}
