@import './_mixins';

$background: #050b12;
$blue: #6421ff;
$gradient: linear-gradient(90deg, #fa1660, #ff6e00);
$primary-color: #090b13;
$purple: #7b00d6;
$secondary-color: #cacaca;
$header-log-in: #4e4a59;
$text-primary-color: #f9f9f9;
$accordion-background-color: #35313f;

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: Sen, sans-serif;
}

body {
  background-color: $primary-color;
  color: $text-primary-color;
}
