@import '../../styles/mixins';

.footer {
  color: $secondary-color;
  padding: 26px 8px;
  text-align: center;

  &__link {
    color: $secondary-color;
  }

  &__logo {
    width: 80px;
    height: 25px;
    display: block;
    margin: 4px auto 15px;
  }
}
