@import '../../styles/mixins';

.accordion {
  padding: 10vw 5vw;

  &__title {
    font-size: 28px;
    font-weight: bold;
    line-height: 38px;
    text-align: center;
  }

  @include tablet {
    padding: 5.6vw;
  }
}

.accordion-container {
  background-color: var(--accordion-background-color);
  margin-top: 16px;
  text-align: left;

  &__content {
    height: 0;
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 26px;
    overflow: hidden;
    padding: 0 24px;
    transform-origin: top;
    transition: height 0.15s ease-out;
  }

  &__description {
    padding-bottom: 24px;
  }

  &__summary {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 15px;
    font-size: 18px;
    justify-content: space-between;
    line-height: 28px;
    list-style: none;
    padding: 24px;

    &.open::after {
      content: '-';
    }

    &::after {
      content: '+';
      font-size: 50px;
      line-height: 0.8;
    }
  }
}
